.center {text-align: center;
margin:0 auto}

body{ 
    background-color: lightblue;
}

#error{ 
    color: red;
    font-weight: bold;
   
    font-family: 'Impact';
    font-size: 3vw;
}


#box{
    background-color:rgba(0, 0, 0, 0.1);
   margin-right: 25%;
   margin-left: 25%;
}

#image{
    max-width: 90%;
}

