table{color:red; font-size: 1cm; text-align: center; background-color: azure;}
td{color:black}
.blue{color:blue}
.green{color:green;}
.TableTitle{color:saddlebrown;}
.impact{font-family:Impact, 'Arial Narrow Bold', sans-serif;}
.arial{font-family: Arial, Helvetica, sans-serif;}