table{color:red; font-size: 1cm;}
.blue{color:blue}
.green{color:green}
.TableTitle{color:saddlebrown;}
.impact{font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
.arial{font-family: Arial, Helvetica, sans-serif;}